/* Declaring CSS Variables */
:root {
  --nav-color: #111826;
  --nav-color2: #fdcc64;
  --body-color: #f2f2f2;
  --port-color: #BF4141;
  --port-color2: #00b0f5;
  --alt-color: #BFB7A8;
  --alt-color2: #C5D9C7;
  --alt-color3: #454445;
  --alt-color4: #F5F2DC;
  --alt-color5: #FF5729;
  --alt-color6: #009494;
  --alt-color7: #fafafa;
}


/* Desktop Layout Design */

#main {
  font-family: 'Gothic A1', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
      "header body body body body";
}


#nav_wrapper{
  height: 100vh;
  grid-area: header;
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  color: #fafafa;
  border-right: 3px solid var(--port-color);
}

#nav_wrapper > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;

}

#body_wrapper{
  height: 100vh;
  grid-area: body;
  background-color: var(--body-color);
  padding: 150px 40px 10px 30px;
  overflow-y: scroll;
}

#img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  border: 2px solid #BF4141;
}


section {
  padding-top: 50px;
}

a {
  transition: all 1s;
}

a:hover {
  transform: scale(1.2);
}

.active {
  color: var(--body-color);
}

#portfolio_show {
  display: flex;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
}

#portfolio_item {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  background-color: var(--port-color);
  margin: 10px;
  display: flex;
}

#port_caption{
  width: 100%;
  height: 50px;
  background-color: black;
  align-self: flex-end;
  /* text-align: center; */
  color: var(--nav-color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: #fafafa;
}


/* Caption Hover Effect */
#portfolio_item:hover > #port_caption {
  /* visibility: visible; */
  opacity: .7;
}



/* CSS for Mobile Devices */

@media screen and (max-device-width: 480px){
  #main {
    font-family: 'Gothic A1', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "body";
  }

  #img {
    display: none;
  }

  #nav_wrapper{
    height: 100px;
    width: 100vw;
    grid-area: header;
    background-color: var(--nav-color);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    align-items: center;
    color: #fafafa;
    border-bottom: 3px solid var(--port-color);
  }

  #body_wrapper{
    height: 100vh;
    width: 100vw;
    grid-area: body;
    background-color: var(--body-color);
    overflow-y: scroll;
  }

  section {
    padding-top: 120px;
  }

  #port_caption {
    opacity: 1;
  }

}



/* CSS for Tablets */

@media screen and (max-device-width: 768px){
  #main {
    font-family: 'Gothic A1', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "body";
  }

  #img {
    display: none;
  }

  #nav_wrapper{
    height: 100px;
    width: 100%;
    grid-area: header;
    background-color: var(--nav-color);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    text-align: center;
    color: #fafafa;
    border-bottom: 3px solid var(--port-color);
  }

  #body_wrapper{
    height: 100vh;
    grid-area: body;
    background-color: var(--body-color);
    padding: 150px 40px 10px 30px;
    overflow-y: scroll;
  }

  section {
    padding-top: 120px;
  }

  #port_caption {
    opacity: 1;
  }

}




::-webkit-scrollbar {
    display: none;
}
