* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #111826;
  --light-yellow: #fdcc64;
  --cream: #f2f2f2;
  --light-red: #BF4141;
  --sky-blue: #00b0f5;
  --alt-color: #BFB7A8;
  --alt-color2: #C5D9C7;
  --alt-color3: #454445;
  --alt-color4: #F5F2DC;
  --alt-color5: #FF5729;
  --alt-color6: #009494;
  --alt-color7: #fafafa;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

.BodyContainer {
  position: relative;
  display: flex;
  background-color: var(--cream);
  z-index: 1;
  grid-area: body;
  height: 100%;
}

.Content {
  display: flex;
  padding: 25px;
}

p {
  margin: 75px 0;
}

/* Header CSS */


.ParallaxContainer {
  display: flex;
  /* flex: 1 0 auto; */
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  transform: translateZ(-1px) scale(2);
  background-color: var(--dark-blue);
  grid-area: header;
  padding-top: 10%;
}

#header {
  width: 100%;
  background-color: var(--dark-blue);
  padding-left: 20px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 250px;
  height: 100%;
  /* border: 2px solid var(--alt-color); */
  /* margin-right: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#code {
  font-size: 10em;
  color: var(--cream);
}


#textBox {
  height: 100%;
  /* width: 500px; */
  /* margin-top: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#textBox > h1 {
  color: var(--cream);
  font-size: 3em;
}


.skill_title {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-red);
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 4%;
  margin-bottom: 4%;
  color: var(--cream);
}

#social {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#social_icon {
  font-size: 2em;
  color: var(--cream);
  padding-right: 5px;
}

#social_icon:hover {
  color: var(--light-red);
}

#down_icon {
  font-size: 3em;
  color: var(--light-red);
  animation-delay: 2s;
  animation-iteration-count: 2;
}

/* Header CSS End */


::-webkit-scrollbar {
    display: none;
}
