* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #111826;
  --light-yellow: #fdcc64;
  --cream: #f2f2f2;
  --light-red: #BF4141;
  --sky-blue: #00b0f5;
  --alt-color: #BFB7A8;
  --alt-color2: #C5D9C7;
  --alt-color3: #454445;
  --alt-color4: #F5F2DC;
  --alt-color5: #FF5729;
  --alt-color6: #009494;
  --alt-color7: #fafafa;
  --title: #131313;
  --mate-cream: #D9D7D6;
  --mate-white: #e7e5e4;
  --light-white: #F7F5F4;
  --font1: 'Quicksand', sans-serif;
  --font2: 'PT Sans', sans-serif;
  --shadow: 0 3px 8px 1px rgba(0,0,0,0.5);
}


/* Main Containers */

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header"
    "body"
    "footer";
}


.ParallaxContainer {
  display: flex;
  /* flex: 1 0 auto; */
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  transform: translateZ(-1px) scale(2);
  background-color: var(--mate-cream);
  grid-area: header;
  padding-top: 10%;
}


.BodyContainer {
  /* height: 100%; */
  position: relative;
  display: flex;
  background-color: var(--light-white);
  z-index: 1;
  grid-area: body;
  border-top: 5px solid var(--light-red);
}


.Content {
  width: 100vw;
  height: 100%;
  display: flex;
  /* padding: 25px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

}




/* Main Containers End */

/* Header CSS */


#header {
  width: 100%;
  /* background-color: var(--mate-white); */
  padding-left: 20px;
  font-family: var(--font1);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 250px;
  height: 100%;
  /* border: 2px solid var(--alt-color); */
  /* margin-right: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#code {
  font-size: 10em;
  color: var(--cream);
}


#textBox {
  height: 100%;
  /* width: 500px; */
  /* margin-top: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#textBox > h1 {
  /* color: var(--cream); */
  font-size: 4em;
}


.skill_title {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-red);
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 4%;
  margin-bottom: 4%;
  color: var(--cream);
  box-shadow: var(--shadow);
}

#social {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#social_icon {
  font-size: 2.4em;
  color: var(--dark-blue);
  padding-right: 5px;
}

#social_icon:hover {
  color: var(--light-red);
}

#down_icon {
  position: relative;
  bottom: 50px;
  font-size: 5em;
  color: var(--light-red);
  animation-delay: 2s;
  animation-iteration-count: 4;
}

#down_icon:hover {
  color: var(--dark-blue);
}

/* Header CSS End */


/* Body CSS */

.Skills {
  height: 100%;
  font-family: var(--font2);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 5%;
}

.SkillDetail {
  width: 60vw;
}

.photo {
  width: 30vw;
}

#image {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  box-shadow: var(--shadow);
}

#SkillTitle {
  /* border-bottom: 2px solid red; */
  font-size: 3em;
  color: var(--dark-blue);

}

#desc {
  line-height: 2;
  width: 70%;
  font-size: 1.3em;
  color: var(--title);
}

.Portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
}

.Portfolio > h2 {
  font-family: var(--font2);
  font-size: 2em;
  margin-bottom: 5%;
}

.TechContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.TechSkills {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 100%;
}

#TechSkill {
  height: 220px;
  width: 35vw;
  background-color: var(--mate-cream);
  box-shadow: var(--shadow);
  border-radius: 2%;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
}

#TechSkillTitle {
  height: auto;
  padding: 20px;
  background-color: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font2);
  font-size: 1.5em;
  color: var(--mate-white);
  margin-bottom: 3%;
}

#Tech {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5%;
}

#TechTitle {
  margin-left: 2%;
  font-size: 1.5em;
  color: var(--dark-blue);
}

#TechLogo {
  font-size: 2.5em;
}

#TechImage {
  width: 50px;
  height: 50px;
}

#gp_skill {
  width: 50px;
  height: 50px;
}

.LogoSet1 {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.LogoSet2 {
  display: flex;
  flex-flow: row nowrap;
  /* margin-bottom: 5%; */
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.PortfolioSection {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#PortfolioItem {
  width: 400px;
  height: 300px;
  border-radius: 2%;
  background-color: var(--light-red);
  box-shadow: var(--shadow);
  margin: 2%;
  transition: all 1s;
  display: flex;
  z-index: 2;
}


#port_caption{
  width: 100%;
  height: 100%;
  background-color: black;
  align-self: flex-end;
  /* text-align: center; */
  color: var(--dark--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: #fafafa;
  z-index: 3;
  /* padding: 10px; */
  /* padding-left: 8px; */
  border-radius: 2%;
  text-align: center;
}

#PortfolioItem > a {
  text-decoration: none;
}

/* Caption Hover Effect */
#PortfolioItem > a:hover > #port_caption {
  /* visibility: visible; */
  opacity: .7;
}



.resilienceand {
  background: url('../media/resilienceand-sm.png');
}

.butterflyorg {
  background: url('../media/butterflyorg-sm.png');
}

.salmeen {
  background: url('../media/salmeen-sm.png');
}


/* Body CSS End */

/* Logos */

.html5 { color: #e44d26; }
.css3 { color: #1f62ae; }
.js { color: #d6ba33; }
.nodejs { color: #3e863d; }
.tux { color: #dd4814; }
.wp { color: #13a2dd; }
.php {margin-top: 5px;}
/* .mysql {margin-right: 10%;} */
#mongodb {
  height: auto;
  width: 40%;
}

/* Shadows */

.elegantshadow {
    color: var(--dark-blue);
    letter-spacing: .15em;
    text-shadow:
      1px -1px 0 #767676,
      -1px 2px 1px #737272,
      -2px 4px 1px #767474,
      -3px 6px 1px #787777,
      -4px 8px 1px #7b7a7a,
      -5px 10px 1px #7f7d7d;

}



::-webkit-scrollbar {
    display: none;
}
