#main {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Gothic A1', sans-serif;
}

#nav_wrapper {
  width: 20%;
  height: 100vh;
  display: flex;
  background-color: #e27600;
  justify-content: center;
  flex-flow: wrap column;
  align-items: center;
}

#nav_wrapper > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
}

#body_wrapper {
  width: 80%;
  height: 100vh;
  display: flex;
  background-color: #f2f2f2;
  flex-flow: column;
  overflow: scroll;

}

#img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
}

#home{
  /* margin-top: 15%; */
}

section {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #dddddd;
}

::-webkit-scrollbar {
    display: none;
}
